/*Global Reset*/
* {
    margin: 0;
    padding: 0;
}

/*Ciblages Menu*/
:target {
    display: block;
    position: relative;
    top: -14.8vh; 
    visibility: hidden;
}
#materiel:target {
    display: block;
    position: relative;
    top: -17vh; 
    visibility: hidden;
}

/*Séparateur*/
hr {
    border-color: #d5d5d5;
    margin-bottom: 5%;
    width: 80%;
}

/*Formatage du Texte*/
h1 {
    /*Format Texte*/
    font-family: 'Lobster', cursive;
    font-size: 2em;
    color: #d5d5d5;
    /*Position*/
    text-align: center;
    grid-area: titre;
}
h2 {
    font-size: 3em;
    font-weight: 200;
}
h3 {
    font-size: 1.5em;
    font-weight: 50;
}
h4 {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    font-size: 1.2em;
    height: 3vh;
    margin-top: 30px;
    padding-bottom: 15px;
}
a {
    color: #d5d5d5;
    font-weight: bold;
}
a:hover {
    text-decoration: none;
}
    /*Formatage texte section spécifique*/
        /*Matériel*/
.foisDeux {
    font-size: 0.6em;
}
.technicalPrecisions {
    font-size: 0.85em;
    font-style: italic;
}
        /*PF Video*/
iframe {
    margin: 5px;
    width: 100%;
}
        /*PF Photo*/
.elfsight-app-a3efb966-d988-40db-90bf-f07c20117bec {
    z-index: 0;
}
        /*PF Infographie*/
#pfInfographie img {
    max-height: 300px;
    max-width: 300px;
    box-shadow: none;
    filter: drop-shadow(8px 8px 3px #0f0f0f);
    margin: 20px 0;
}
#pfInfographie hr {
    margin: 2.5% 0;
}
        /*PF Visites Virtuelles*/
#modal {
    position: fixed;
    z-index: 6;
    display: none;
    height: 100vh;
    width: 100%;
    background-color: rgba(30, 30, 30, 0.8);
}
#modal p {
    font-size: 1.5em;
    color: #d5d5d5;
    font-family: 'Comfortaa', cursive;
    height: 10vh;
}
#modalContent {
    height: 80%;
    width: 80%;
}
/*Site Parts*****************************************************************/
    /*Header***********************************************/
header {
    display: none;
}

    /*Nav Bar***********************************************/
.navBar {
    height: 15vh;
    background-color: rgb(34, 34, 34);
    position: sticky;
    z-index: 1;
    top: 0;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-areas: 
                    "logo titre bgMenu"
                    "logo titre bgMenu"        ;
}
#navBarLogo {
    max-width: 100%;
    max-height: 15vh;
    grid-area: logo;
}
#navBarLogo img {
    max-width: 100%;
    max-height: 15vh;
}
    /*Menu Mobile********************************************/
@keyframes opening {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-90deg);
    }
}
@keyframes closing {
    from {
        transform: rotate(-90deg);
    }
    to {
        transform: rotate(0);
    }
}
#burgerMenu {
    height: 100%;
    width: 100%;
    grid-area: bgMenu;
}
#burgerMenu button {
    width: 80px;
    height: 80px;
    background-color: rgb(34, 34, 34);
    border: none;
    background-image: url(../img/logos/burger_menu.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
#burgerMenu.menuClosed button {
    animation: closing 0.2s forwards;  
}
#burgerMenu.menuOpened button {
    animation: opening 0.2s forwards; 
}
#burgerNav {
    position: fixed;
    z-index: 1;
    border-bottom: solid 2px #d5d5d5;
    width: 100%;
    display: none;
    list-style: none;
    background-color: rgb(34, 34, 34);
}
#burgerNav hr {
    width: 100%;
    margin: 0;
}
#burgerNav button {
    border: none;
    background-color: none;
}
#burgerNav li, #burgerNav button {
    width: 100%;
    font-family: 'Comfortaa', cursive;
    height: 5vh;
    font-size: 1em;
}
#burgerNav a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color:#d5d5d5;
    background-color: rgb(34, 34, 34);
}
#aPropos.black button, #portfolio.black button{
    color:#d5d5d5;
    background-color: rgb(34, 34, 34);
}
#aPropos.white button, #portfolio.white button {
    color: rgb(34, 34, 34);
    background-color: #d5d5d5;
}
.aProposDropdown {
    display: none;
}
.portfolioDropdown {
    display: none;
}
@keyframes turnUp {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(180deg);
    }
}
@keyframes turnDown {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0);
    }
}
.arrow {
    display: inline-block;
}
#aPropos.arrowUp .arrow, #portfolio.arrowUp .arrow {
    animation: turnUp 0.2s forwards;
}
#aPropos.arrowDown .arrow, #portfolio.arrowDown .arrow {
    animation: turnDown 0.2s forwards;
}
#desktopNav {
    display: none;
}
    /*Footer***********************************************************/
footer {
    height: 10vh;
    width: 100%;
    background-color: rgb(34, 34, 34);
    font-family: 'Lobster', cursive;
    color: #d5d5d5;
}
footer img {
    max-height: 5vh;
}
        /*Social Icons*/
.facebookLink {
    background-image: url(../img/social_logos/facebook_white.svg);
    height: 30px;
    width: 30px;
    background-size: 100%;
}
.facebookLink:hover {
    background-image: url(../img/social_logos/facebook_coloured.svg);
}
    /*YouTube*/
.youtubeLink {
    background-image: url(../img/social_logos/youtube_white.svg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.youtubeLink:hover {
    background-image: url(../img/social_logos/youtube_coloured.svg);
}
    /*Instagram*/
.instaLink {
    background-image: url(../img/social_logos/instagram_white.svg);
    width: 30px;
    height: 30px;
    background-size: 100%;
}
.instaLink:hover {
    background-image: url(../img/social_logos/instagram_coloured.svg);
}
/*Media Queries*/ 
    /*Tablette*/
@media screen and (min-width: 768px){
    /*Classes de dispositions*/
    .row {
        display: flex;
        flex-direction: row;
    }
    .rowRev {
        display: flex;
        flex-direction: row-reverse;
    }
    /*Elements Conteneurs*/
    .container {
        width: 80%;
        padding: 2%;
    }
    /*Conteneurs de contenus spécifiques*/
    .blocTitre {
        font-family: 'Lobster', cursive;
        font-size: 2em;
    }
    .blocTexte {
        font-family: 'Comfortaa', cursive;
        width: 50%;
    }
    .blocImage {
        padding: 5%;
        width: 50%;
    }
    /*Formattage Textuel*/
    h1 {
        font-size: 3em;
    }
    h3 {
        font-size: 1.5em;
    }
}
    /*Laptop*/ /*Activation vidéo accueil et menu desktop ici*/
@media screen and (min-width: 1366px){
    /*Classes de dispositions*/
    .row {
        display: flex;
        flex-direction: row;
    }
    .rowRev {
        display: flex;
        flex-direction: row-reverse;
    }
    /*Elements Conteneurs*/
    .container {
        width: 65%;
        padding: 2%;
    }
    /*Conteneurs de contenus spécifiques*/
    .blocTexte {
        font-family: 'Comfortaa', cursive;
        width: 50%;
    }
    .blocImage {
        padding: 5%;
        width: 50%;
    }
    /*Site Parts*/
        /*Header*/
    header {
        background-color: rgb(34, 34, 34);
        display: block;
        max-height: 85vh;
        width: 100%;
    }
        /*Nav Bar*/
    #desktopNav {
        display: flex;
        color: #d5d5d5;
        list-style: none;
        grid-area: menu;
    }
    .navBar {
        height: 15vh;
        background-color: rgb(34, 34, 34);
        position: sticky;
        top: 0;
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
                        "logo titre bgMenu"
                        "logo menu bgMenu"        ;
    }
    #navBarLogo {
        max-width: 100%;
        max-height: 100%;
        grid-area: logo;
    }
        /*Nav Elements*/
    #burgerMenu, #burgerMenu div {
        opacity: 0;
    }
    nav button {
        background-color: rgb(34, 34, 34);
        border: none;
    }
    nav > ul {
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 100%;
    }
    nav > ul > li {
        display: flex;
        align-items: flex-end;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 30px;
        justify-content: space-evenly;
    }
    nav > ul > li > a, nav > ul > li button {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 5px;
        border-radius: 5px 5px 0 0;
        text-decoration: none;
        color: #d5d5d5;
        font-family: 'Comfortaa', cursive;
        font-weight: 300;
    }
        /*Comportements*/
    .currentPage {
        background-color: #d5d5d5;
        color: rgb(34, 34, 34);
        font-size: 1.3em;
        font-weight: 700;    
        text-decoration: none;
        padding-top: 5px;
        padding-top: 10px;
        border: solid 1px rgb(34, 34, 34);
        border-bottom: none;
    }
    nav > ul > li > a:hover, nav > ul > li button:hover {
        background-color: #d5d5d5;
        color: rgb(34, 34, 34);
        font-size: 1.3em;
        font-weight: 700;    
        text-decoration: none;
        padding-top: 5px;
        padding-top: 10px;
        border: solid 1px rgb(34, 34, 34);
        border-bottom: none;
        transition-duration: 0.2s;
    }
        /*Dropdown*/
    .dropdown {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .dropdownToggle {
        display: flex;
        align-items: flex-start;
        width: 100%;
    }
    @keyframes dropdownScaleDown {
        from {
            opacity: 0;
            transform: translateY(-50%) scaleY(0);
        }
        to {
            opacity: 1;
            transform: translateY(0) scaleY(100%);
        }
    }
    .dropdownToggle:hover .dropdownMenu {
        display: block;
        animation: dropdownScaleDown 0.2s;
    }
    .dropdownToggle:focus {
        background-color: #d5d5d5;
        color: rgb(34, 34, 34);
        font-size: 1.3em;
        font-weight: 700;
        padding-top: 10px;
        border: solid 1px rgb(34, 34, 34);
        border-bottom: none;
    }
    .dropdownMenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #d5d5d5;
        font-family: 'Comfortaa', cursive;
        color: rgb(34, 34, 34);
        list-style: none;
            /*Frame*/
        border: solid 1px rgb(34, 34, 34);
        border-top: none;
        border-radius: 0 0 5px 5px;
    }
    .dropdownMenu li {
    height: 100%;
    }
    .dropdownMenu a {
        width: 100%;
        height: 30px;
        text-decoration: none;
        color: rgb(34, 34, 34); 
    }
    .dropdownMenu a:hover {
        background-color: #c5c5c5;
        border: none;
        padding: 0;
        font-size: 1.1em;
        font-weight: 700;    
        text-decoration: none;
        transition-duration: 0.2s;
    }
    /*Modificateurs spécifiques de pages*/
        /*Portfolio VIDEO*/
   /*  iframe {
        margin: 5px;
        width: 500px;
        height: 280px;
    } */
}
    /*Desktop*/
@media screen and (min-width: 1700px) {
    /*Classes de dispositions*/
    .row {
        display: flex;
        flex-direction: row;
    }
    /*Elements Conteneurs*/
    .container {
        width: 50%;
        padding: 2%;
    }
    /*Conteneurs de contenus spécifiques*/
    .blocTitre {
        font-family: 'Lobster', cursive;
        font-size: 2em;
    }
    .blocTexte {
        font-family: 'Comfortaa', cursive;
        width: 50%;
    }
    .blocImage {
        padding: 5%;
        width: 50%;
    }
}